
body {
   
    background-color: #583c87; 

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#buttons {
    display: flex;
    gap: 15px; 
    padding: 20px;
}

.btn {

    background-color: #6a4c9c; 
    padding: 15px 30px;
    border: none;
    border-radius: 8px; 
    text-transform: lowercase; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
    background-color: #7d5cbb; 
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
